{
    "plugins": ["prettier-plugin-blade", "@prettier/plugin-php"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": "*.php",
            "options": {
                "tabWidth": 4,
                "semi": true,
                "singleQuote": false,
                "phpVersion": "8.1"
            }
        }
    ]
}
